<h1>Course Name</h1>
<section>
    <h2>Edit Activities: </h2>
    <ul>
        <li><a href="/activity/edit/1">Activity 1</a></li>
        <li><a href="/activity/edit/2">Activity 2</a></li>
    </ul>
</section>
<section>
    <h2>Students</h2>
    <ul>
        <% students.forEach(student => { %>
            <li><a href="/student/profile/<%= student.id  %>"><%= student.given_names  %> <%= student.last_name  %></a></li>
        <% }) %>
    </ul>
</section>