<h1>Welcome Mr./Ms. <%= userInfo?.last_name %>!</h1>
<section>
    <h2>Select Class</h2>

    <ul>
        <% classes.forEach(c => { %>
            <li><a href="class/dashboard/<%= c.id  %>"><%= c.course_name %> <%= c.name %></a></li>
        <% }) %>
        <br>
        <a href="/class/createClass/" class="big-button">Create Class</a>
        <a href="/class/createCourse/" class="big-button">Create Course</a>
    </ul>
</section>
<% if (userInfo.role_id == 3) { %>
    <a href="/admin" class="big-button">View Admin Portal</a>
<% } %>