<div id="home-screen">
    <img src="images/site/students.webp" alt="">
    <div class="text-box">
        <h1>Learning Starts Here!</h1>
        <h2>Welcome to ULearn</h2>
        <a class="big-button" href="/auth/login">Login Here</a>
    </div>
</div>
