<section id="activity-edit">
  <form action="" method="post">
    <input type="text" name="name" value="<%= activity.name %>" style="font-size: large;">
    <div style="margin-top: 2rem;">
      <label for="description">Description</label>
      <br>
      <textarea name="description" id="description" rows="2" cols="20"><%= activity.description %></textarea>
    </div>
    <textarea name="details" rows="10" cols="20"><%= JSON.stringify(activity.details)  %></textarea>
    <button class="big-button">Save</button>
  </form>
</section>
<br>
<div>
  <a href="/activity/view/<%= activity.id %>" class="big-button">Student View</a>
</div>