<h1>Welcome Dr. _!</h1>
<section>
    <h2>Administrators</h2>
    <ul>
        <li>Admin x</li>
        <li>Admin y</li>
    </ul>
    <button>Get Code For New Admin Account</button>
</section>
<section>
    <h2>Instructors</h2>
    <ul>
        <li>Teacher x</li>
        <li>Teacher y</li>
    </ul>
    <button>Get Code For New Instructor Account</button>
</section>
<section>
    <h2>Students</h2>
    <ul>
        <li>Student x</li>
        <li>Student y</li>
    </ul>
    <button>Get Code For New Student Account</button>
</section>
<a href="/teacher" class="big-button">View Teacher Portal</a>