<h1>Welcome <%= userInfo?.given_names %>!</h1>
<section>
  <h2>Upcoming</h2>
  <ul>
    <li><a href="activity/view/1">Activity 1</a></li>
    <li><a href="activity/view/2">Activity 2</a></li>
    <li><a href="activity/view/3">Activity 3</a></li>
  </ul>
</section>
<section>
  <h2>Classes</h2>
  <ul>
    <li><a href="course/view/1">Class 1 A-</a></li>
    <li><a href="course/view/2">Class 2 A</a></li>
    <li><a href="course/view/3">Class 3 B</a></li>
    <a class="big-button" href="/course/add">Add Course</a>
  </ul>
</section>
<section>
  <h2>Messages</h2>
  <ul>
    <li>Teacher: blablalbla</li>
  </ul>
</section>
