<form action="" method="post">
    <select name="organization" id="organization">
        <option value="1">High School A</option>
        <option value="2">High School B</option>
    </select>
    <label for="email">Email</label>
    <input type="email" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <button type="submit" class="big-button">Login</button>
</form>
<a href="/auth/register">Create Account</a>