<form action="" method="post">
    <select name="organization" id="organization">
        <option value="1">High School A</option>
        <option value="2">High School B</option>
    </select>

    <label for="account-code">Account Code</label>
    <input type="text" name="account-code">
    <label for="email">Email</label>
    <input type="email" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <button type="submit" class="big-button">Create Account</button>
</form>
<a href="/auth/login">Login</a>