<form action="" method="post">
    <label for="accountCode">Account Code</label>
    <input type="text" name="accountCode">
    <label for="givenNames">Given Names</label>
    <input type="text" name="givenNames">
    <label for="lastName">Last Name</label>
    <input type="text" name="lastName">
    <label for="email">Email</label>
    <input type="email" name="email">
    <label for="password">Password</label>
    <input type="password" name="password">
    <button type="submit" class="big-button">Create Account</button>
</form>
<a href="/auth/login">Login</a>